figure {
    position: relative;
}

img {
    display: block;
}

figcaption {
    bottom: 5px;
    margin: 0 5px;
    padding: 5px;
    position: absolute;
    width: 300px;
}

figcaption {
    color: white;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5)
}